<!DOCTYPE html>
<html>
<head>
  <% include ../partials/min_header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  
<div class="container">
<h4>Links:</h4>
<a href="/tweet">Post a tweet</a> <br>
<a href="/queryTweet">Query Tags</a> <br>
<a href="/debug">Debug</a> <br>
</div>
</body>
</html>
